{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'style.css' %} ">

</head>
<body>
<form action="{% url 'up' %}" method="post" class="smart-green">
    {% csrf_token %}
    <h1>个人主页信息
        <span>请留下你的信息</span>
    </h1>
    <input id="id"  type="text" hidden name="id" value="{{ infos.id }}" class="error" placeholder="请输入您的姓名"/>
    <label>
        <span>姓名 :</span>
        <input id="name"  type="text" name="name" value="{{ infos.name }}" class="error" placeholder="请输入您的姓名"/>
        <div class="error-msg"></div>
    </label>
    <label>
        <span>人生格言 :</span>
        <textarea id="life_info" name="life_info"  placeholder="请输入您的人生格言">{{ infos.life_info }}</textarea>
        <div class="error-msg"></div>
    </label>
    <label>
        <span>专业 :</span>
        <input id="job" type="text"  value="{{ infos.job }}" name="job" placeholder="请输入所学专业"/>
        <div class="error-msg"></div>
    </label>
    <label>
        <span>专业描述 :</span>
        <textarea id="job_info" name="job_info"  placeholder="请输入对专业的描述">{{ infos.job_info }}</textarea>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>同学:</span>
        <input id="classmate" type="text" value="{{ infos.classmate }}"  name="classmate" placeholder="请输入同学名称，多个之间用,隔开"/>
        <div class="error-msg"></div>
    </label>
    <label>
        <span>同学描述 :</span>
        <textarea id="classmate_info" name="classmate_info"  placeholder="请输入对同学的描述">{{ infos.classmate_info }}</textarea>
        <div class="error-msg"></div>
    </label>
    <label>
        <span>家乡:</span>
        <input id="home" type="text"  value="{{ infos.home }}" name="home" placeholder="请输入您的家乡"/>
        <div class="error-msg"></div>
    </label>
    <label>
        <span>家乡描述:</span>
        <textarea id="home_info" name="home_info"  placeholder="请输入家乡描述">{{ infos.home_info }}</textarea>
        <div class="error-msg"></div>
    </label>
    <label>
        <span>学校:</span>
        <input id="school" type="text"  value="{{ infos.school }}" name="school" placeholder="请输入您的大学名称"/>
        <div class="error-msg"></div>
    </label>
    <label>
        <span>学校描述 :</span>
        <textarea id="school_info" name="school_info"  placeholder="请输入学校描述">{{ infos.school_info }}</textarea>
        <div class="error-msg"></div>
    </label>
    <div class="success-msg"></div>
    <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="提交"/>
    </label>

</form>

</body>
</html>